@font-face{
    font-family: 'Dancing Script';
    src: url('./Dancing_Script/DancingScript-VariableFont_wght.ttf');
}
body{
    padding:0;
    margin:0;
    width: 100%;
    height:100%;
    background-color: #0aa1a3;
}
.gameStatus{
    display: none;
    position: absolute;
    background-color: #0000004d;
    width:100%;
    height:100%;
}
.gamealert{
    padding:20px;
    text-align: center;
    font-family: 'Dancing Script';
    width:400px;
    height:200px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
    background-color:#FFEDDA;
    position: relative;
}
.gamePositon{
    margin-top: 20px;
    width:100%;
    display: flex;
    justify-content: center;
}
.controls{
    text-align: center;
}
body button,select{
    border:2px solid #0aa1a3;
    font-family: 'Dancing Script';
    font-size: 30px;
    width:150px;
    padding:4px;
    margin:3px;
    border-radius: 20px;
    outline: none;
    background-color:#FEF5ED;
    cursor: pointer;
}
body button:active{
    cursor: pointer;
    color:#0F52BA;
}
.board{
    padding:20px;
    display:flex;
    flex-wrap: wrap;
    background-color:#FFEDDA;
    border-radius: 20px;
}
.board div{ 
    width:60px;
    height:60px;
    background-color:#EED6C4;
    border:1px ridge #dfb18f;
}
.board img {
    height: 60px;
}